button {
    background-color: null;
}

.navbar {
    background-color: yellow;
}

a {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

i {
    color:black;
}

.bodyContent {

}

.footer {
    background-color: black;
}

.nameHeader {

}
body {
    background: rgb(168, 168, 168);
}